* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Cutive Mono', monospace;
}

body{
  height: 100vh;
}

.overlay {
  background-color: #000;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: difference;
}

.container {
  max-width: 500px;
  margin: 0 auto;

  background-image: url("/plano\ de\ fundo.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

}

.profile>img {

  width: 150px;
  height: 150px;
  border: 3px solid #e1bb6f;
  border-radius: 100px;
  object-fit: cover;


}

.profile>p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #e1bb6f;
  text-transform: capitalize;
  text-align: center;
  padding: 30px;

}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.link>a {
  text-decoration: none;
  color: #f56c93;
  font-size: 24px;
  text-align: center;
  border: 3px solid #e1bb6f;
  border-radius: 7px;
  margin: 5px 10px;
  padding: 14px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 30px;
}

.link>a:hover {
  background-color: #778a64;
  color: #e1bb6f;
}

.footer {
  text-align: center;
}

.footer>i {
  color: #e1bb6f;
  font-size: 20px;
}